<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Xenfuri AI</name>
    <description>
        Xenfuri AI - Is there anything I can help you with today?	
    </description>
    <author email="owner@xeonstore.my.id" href="https://xenstudio.my.id">
        XeonXID - XenStudio
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
       <icon src="icon.png"/>
    </platform>
</widget>
